{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-6">
            <form>
                <div class="page-header">
                    <h3>
                        Login
                    </h3>
                </div>
                {% if errorB==true %}
                    <div class="text-danger">
                        <p>
                            <strong>
                                {{ error }}
                            </strong>
                        </p>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contrase単a</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escribe tu contrase単a">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
                <button id="aparece" type="button" class="btn btn-primary">Registrate</button>
            </form>
        </div>
        <div class="col-md-6">
            <form class="hidden" id="formulario_invisible" action="{{ path('registro') }}" method="POST">
                <div class="page-header">
                    <h3>
                        Registrate
                    </h3>
                </div>
                <div class="form-group" id="formulario_registro">
                    <label for="exampleInputEmail2">Email</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Escribe tu Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Contrase単a</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Escribe tu contrase単a">
                </div>
                <div class="form-group">
                    <label for="exampleInputSelect1">Perfil</label>
                    <select name="role" class="form-control">
                        <option value="ROL_PROFESOR">Profesor
                        </option>
                        <option value="ROL_ALUMNO">Alumno</option>
                        <option value="ROL_EMPRESA">Empresa</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function () {
                $("#aparece").on("click", function () {

                    $("#aparece").addClass("hidden");
                    var email = $("#exampleInputEmail1").val();
                    var password = $("#exampleInputPassword1").val();

                    $("#exampleInputEmail2").val(email);
                    $("#exampleInputPassword2").val(password);

                    $("#formulario_invisible").removeClass();
                });
            });
        </script>
    {% endblock %}
{% endblock %}